body{
    background-color:rgb(171, 224, 224);
    font-family:Arial, Helvetica, sans-serif;
}

h1{
   color:rgb(11, 109, 109);
}

h1#importante{
    text-align: center;
    background-color:green;
    color:white;
}

h2{
   color: rgb(64, 165, 165);
}

.basico{
    color: rgb(36, 85, 85);
}

.intermediario{
    color: rgb(123, 129, 65);
}

.avancado{
    color: rgb(52, 68, 204);
}

.destaque{
    background-color:rgba(151, 151, 74, 0.699);
}